.wrapper {
   width: 100%;
   display: flex;
   justify-content: center;
}

.sign{
   padding-right: 31%;
}
.a{
   width: 115%;
}
.wrapper-content {
   display: flex;
   justify-content: space-between;
   width: 700px;
}

form {
   display: flex;
   flex-direction: column;
}

.buttons-wrapper {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin: 10px 0;
}
